<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Network Graph</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.css" type="text/css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis-network.min.js"> </script>
    <style type="text/css">
        #mynetwork {
            width: 100%;
            height: 100vh;
            background-color: #ffffff;
            border: 1px solid lightgray;
        }
    </style>
</head>
<body>
    <div id="mynetwork"></div>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var container = document.getElementById('mynetwork');
            var data = {{ graph_data|tojson }};
            var options = {
                "nodes": {
                    "shape": 'dot',
                    "size": 16,
                    "font": {
                        "size": 14,
                        "color": '#000000'
                    },
                    "borderWidth": 2
                },
                "edges": {
    "smooth": {
      "type": "continuous",
      "forceDirection": "none"
    }
  },
                "physics": {
                    "enabled": false,
                    "minVelocity": false,
                    "stabilization": {
                        "enabled":false
                    }
                    
                },
                "interaction": {
                    "hover": true,
                    "dragNodes": true,
                    "hideEdgesOnDrag": false,
                    "hideNodesOnDrag": false
                }
            };
            var network = new vis.Network(container, data, options);
        });
    </script>
</body>
</html>
