<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InterVision</title>
    
    <!-- Bootstrap and Bootstrap-Select CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css">
    <link rel="stylesheet" href="/static/styles/style.css"> <!-- Custom Styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.css" type="text/css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis-network.min.js"></script>
    
    <!-- jQuery and Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="header shadow-sm">
        <h1>InterVision</h1>
    </div>
    <div class="network" id="mynetwork"></div>
    <div class="options">
        <form>
            <div class="form-group">
                <select class="selectpicker form-control" multiple data-live-search="true" id="select-multiple">
                    <option>Core</option>
                    <option>Family</option>
                    <option>Education</option>
                    <option>Relationships</option>
                    <option>Work</option>
                    <option>Social</option>
                    <option>Skills</option>
                    <option>Health</option>
                </select>
            </div>
            <button type="button" id="generate" class="button btn-block">Generate Intervention</button>
            <div id="container"></div>
        </form>
    </div>
    <div class="legend d-flex justify-content-between">
        {% for category, color in category_colors.items() %}
        <div><span class="circle" style="background-color: {{ color }};"></span> {{ category }}</div>
        {% endfor %}
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            var container = document.getElementById('mynetwork');
            var data = {{ graph_data|tojson }};
            console.log(data);  // Debugging print

            var options = {
                "nodes": {
                    "shape": 'dot',
                    "size": 16,
                    "font": {
                        "size": 14,
                        "color": '#000000'
                    },
                    "borderWidth": 2
                },
                "edges": {
                    "smooth": {
                        "type": "continuous",
                        "forceDirection": "none"
                    }
                },
                "physics": {
                    "enabled": false,
                    "minVelocity": false,
                    "stabilization": {
                        "enabled":false
                    }
                    
                },
                "interaction": {
                    "hover": true,
                    "dragNodes": true,
                    "hideEdgesOnDrag": false,
                    "hideNodesOnDrag": false
                }
            };
            var network = new vis.Network(container, data, options);

            var i = 1;
            var nodesVal;
            $('#generate').click(function () {
    
                var values = {{ graph_data.nodes|tojson }};
                var containerDiv = $('<div>').addClass('intervention').prop('id', 'intervention' + i);
    
                    var select = $('<select>').prop('id', 'intervene' + i.toString())
                                              .addClass('nodes intervene form-control mb-2')
                                              .prop('name', 'intervene');
        
                    var range = $('<input>').prop('id', 'policy' + i)
                                            .addClass('slider policy form-control-range mb-2')
                                            .prop('type', 'range')
                                            .prop('min', '1')
                                            .prop('max', '100')
                                            .prop('value', '1')
                                            .prop('step', '10');
        
                    $(values).each(function () {
                        select.append($("<option>")
                            .prop('value', this.id)
                            .text(this.label));
                    });
        
                    var label = $("<label>").prop('for', 'policy' + i).text("Choose your policy: ");
        
                    var deleteButton = $('<button>').prop('type', 'button')
                                                    .addClass('btn btn-danger mb-2')
                                                    .text('Delete')
                                                    .click(function() {
                                                        containerDiv.remove();
                                                    });
        
                    containerDiv.append(label).append(select).append(range).append(deleteButton);
                    $('#container').append(containerDiv);
        
                    $('#intervene' + i.toString() + ',#policy' + i.toString()).change(function () {
                        var interventions = [];
                        for (var j = 1; j <= i; j++) {
                            var node = $('#intervene' + j).val();
                            var value = $('#policy' + j).val();
                            if (node && value) {
                                interventions.push({"node": node, "value": value});
                            }
                        }
                        $.ajax({
                            type: "POST",
                            url: "{{ url_for('graph') }}",
                            contentType: 'application/json;charset=UTF-8',
                            data: JSON.stringify({'nodes': data.nodes, 'edges': data.edges, 'interventions': interventions}),
                            dataType: 'json',
                            success: function (response) {
                                network.setData(response);
                            }
                        });
                    });
        
                    i++;
                });
        
                $('.selectpicker').selectpicker();  // Initialize the selectpicker plugin
            });
        </script>
    </body>
</html>
