.banner {
    display: flex;
    justify-content: center;
}

#mynetwork {
    width: 100%; /* Make the graph container fill the available width */
    height: 800px; /* Set a specific height for the graph container */
}

.ban {
    height: 170px;
    width: 450px;
}

.wrapping {
    display: flex;
    width: 100%;
}

.network {
    flex-grow: 7; /* Equivalent to 70% of the space */
    background-color: rgb(43, 82, 178); /* Temporary color for visualization */
}

.options {
    flex-grow: 3; /* Equivalent to 30% of the space */
}

.browsing {
    position: relative; /* Changed from absolute to relative */
    padding-left: 35%; /* Adjust as needed */
}

.dropbtn {
    padding: 10px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    z-index: 1;
}

.dropdown-content a {
    text-decoration: none;
    display: block;
    padding: 10px;
}

.dropdown-content a:hover {
    background-color: ghostwhite;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.generate {
    display: inline-block;
}

#container {
    width: 50%; /* If you want the container to take half of the network space */
}

.mytooltip {
    display: inline-block;
    font-size: 8px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background: #fff;
    border: 2px solid royalblue;
    text-align: center;
    line-height: 18px; /* Align the text vertically */
}

.mytooltip .tooltiptext {
    visibility: hidden;
    width: 230px;
    background-color: ghostwhite;
    border-radius: 6px;
    padding: 5px;
    text-align: justify;
    position: absolute;
    z-index: 1;
}

.mytooltip:hover .tooltiptext {
    visibility: visible;
}

#intervene,
#policy {
    width: 200px;
}